.btn-collapse {
  margin-right: 2rem;
}

.dropdown-item {
  display: block;
  min-width: 1rem;
  padding: 0.25rem 1rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  text-decoration: none;
  white-space: normal;
  background-color: transparent;
  border: 0;
}

.dropdown-menu {
  position: absolute;
  z-index: 1000;
  display: none;
  min-width: 1rem;
  padding: 0.5rem 0;
  margin: 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.sidebar {
  width: 250px;
  height: 100vh;
  position: fixed;
  background-color: #21252b;
  transition: 0.4s;
}

.my-container {
  margin-left: 15rem;
}

/* for navbar */

/* for main section */

nav.react-contextmenu {
  position: fixed;
  width: 200px;
  left: 0;
  top: calc(100% + 10px);
  border-radius: 4px;
  background-color: #fff;
  padding: 10px 0;
  z-index: 99;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.react-contextmenu .react-contextmenu-item:hover {
  background: #cccccc;
}

.react-contextmenu-item:hover:not(.react-contextmenu-item--disabled) {
  background-color: #f1f1f1;
}

.react-contextmenu .react-contextmenu-item {
  font-size: 14px;
  display: block;
  text-decoration: none;
  padding: 10px 15px;
  cursor: pointer;
  user-select: none;
  transition: 0.2s;
  position: relative;
  margin-bottom: 2px;
  font-weight: 500;
  display: flex;
  align-items: center;
  outline: none;
}

.MuiTableCell-root {
  display: table-cell !important;
  padding: 16px !important;
  font-size: 0.875rem !important;
  text-align: left;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
  font-weight: 400 !important;
  line-height: 1.43 !important;
  border-bottom: 1px solid rgba(224, 224, 224, 1) !important;
  letter-spacing: 0.01071em !important;
  vertical-align: inherit !important;
}
